@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTb8RcfKmuvt7MdloCBiGtl7vtdwN5yywL4lg&s" alt="coffeeshop image">
    <p></p>
    <p>A simple MVC web application developed as part of a classroom project!</del></p>
</div>
<br>

<div style="display: flex; flex-direction: column;">
    <p>
        <a href="http://localhost:5272/Products">1. Products</a>
    </p>

    <p>
        <a href="http://localhost:5272/Order">2. Orders</a>
    </p>

        <p>
        <a href="http://localhost:5272/Home/Privacy">3. Privacy</a>
    </p>
    
</div>
